:root {
    --bg-gray: #F5F5F5;
    --input-bg: #D9D9D9;
    --maroon-color: #E58784
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  .styled-form {
    border-radius: 10px;
    background-color: #FFF0E3;
    padding: 20px;
    border-radius: 10px;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
  }
  
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
  }
  

  main {
    flex-grow: 1;
    padding: 0px 0px;
    height: 100%;
    font-size: 100%;
  }
  
  footer {
    background-color: lightblue;
  }
  
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
    gap: 15px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  .page {
    display: flex;
    height: 100%;
    gap: 20px;
    border: 3px solid green;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .left-register-section {
    border: 1px solid red;
    flex-basis: 50%;
  }

  .register-image-wrapper {
    border: 2px solid orange;
    width: 300px;
  }

  .register-image img {
    object-fit: scale-down;
    max-width: 100%;
  }
  
  form {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .form-left-aligned {
    align-items: start;
  }
  
  .form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border: none;
  }

  
  
  .formgroup-horizontal {
    display: flex;
    gap: 10px
  }
  
  .radiogroup-wrapper {
    display: flex;
    justify-content: start;
    gap: 20px;
    width: 100%;
  }
  
  .styled-form input, .styled-form select {
    background-color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
  }


  
  .input-couple {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  
  .submit-form-button {
    width: 100%;
    padding: 10px 0px;
    border: none;
    background-color: var(--maroon-color);
    border-radius: 10px;
  }

  .button-text {
    font-weight: bold;
    text-decoration: none;
  }

  .button-text:link, .button-text:visited, .button-text:hover, .button-text:active {
    text-decoration: none;
  }

  



  .add-entry-button {
    width: 100%;
    padding: 10px 0px;
    border: none;
    background-color: var(--input-bg);
    display: flex;
    gap: 10px;
    padding: 10px 5px;
    justify-content: center;
  }
  
  
  .form-error-alert {
    color: red
  }


  .employee-page-wrapper {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

 .employee-column-1 {
    gap: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    align-items: center;
  }

  .employee-column-2 {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  } 


  .emoji-wrapper {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 0px 10px;
  }

  .emoji {
    width: 40px;
  }

  .plus-btn-img {
    width: 20px;
  }


 @media all and (min-width: 768px) {
    .input-couple {
        flex-direction: row ;
    }

    .employee-column-1 {
        width: 40%;
        gap: 20px;
        border: 1px solid red;
    }

    .employee-column-2 {
        width: 60%;
        border: 1px solid red;

    }

    .employee-page-wrapper {
        padding: 40px 40px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        border: 4px solid red;
      }

    
    
 }

.header {
    position: sticky;
}

