:root {
  --bg-gray: #F5F5F5;
  --input-bg: #D9D9D9;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: lightblue;
  padding: 10px 10px;
}

main {
  flex-grow: 1;
  padding: 0px 0px;
  height: 100%;
}

footer {
  background-color: lightblue;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 15px;
}

nav ul {
  list-style-type: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--bg-gray);
  flex-direction: column;
  gap: 20px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 50%;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border: none;
}

input[type=text] {
  background-color: var(--input-bg);
  padding: 10px 10px;
  border: none;
}

button {
  width: 100%;
  padding: 10px 0px;
  border: none;
  background-color: var(--input-bg);
}